<nav>
<table>
    <tr>
        <td colspan="3" style="text-align: center;">
            <img src="/html/static/logo.jpg" alt="Logo">
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td style="text-align: center;">
            <img src="/html/static/home.jpg" alt="Home">
            <img src="/html/static/shop.jpg" alt="Shop">
            <img src="/html/static/guestbook.jpg" alt="Guest Book">
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="3">

        </td>
    </tr>
</table>
</nav>