 body {
     background-image: url("/html/static/bg.jpg");
     background-repeat: repeat;
     background-color: black;
     color: white;
 }

 table, tr, td {
    border: 1px solid white;
 }

 table {
    width: 100%;
 }